body { 
    background-color: #e8ecef;   
    font-family: 'Varela Round', sans-serif;
}

body nav {
    background-color: #38344d; 
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.menu {
    animation-name: menu;
    animation-duration: 3s;
}

.active a {
    color: #FFFFFF !important;    
}

.borda {
    border-bottom: 1px solid #CCC;
}

.nav-item a:hover {
    color: #FFFFFF !important;    
}

.btn {
    border: black; 
    color:white;  
    background-color: #38344d;
}

.nav-color {
    color: #4F4F4F !important;
}

.description {    
    animation-name: conteudo;
    animation-duration: 3s;
}

.container h1 {
    color: #38344d;
}

.container .row .left {
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    height: 180px;
    background-color:#38344d;
    color:#FFFFFF;
    
}

.container .row .right {
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    height: 180px;
    background-color:#38344d;
    color:#FFFFFF;
}

.container .liberar {
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-bottom:20px;
}

.menu-diferente {
    background-color: #F8F8FF !important; 
    color: #1C1C1C !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    border-bottom: 1px solid #CCC;
    box-shadow: 1px 1px 5px #DDD;
}

.table {
    text-align: center;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.load{
    width:100px;
    height:100px;
    position:absolute;
    top:30%;
    left:45%;
}


@keyframes conteudo {
    0% {opacity: 0; transform: translate(-30px, 0px)}
    100% {opacity: 1; transform: translate(0px, 0px)}
}

@keyframes animacao {
    0% {opacity: 0; transform: translate(0px, 20px)}
    100% {opacity: 1; transform: translate(0px, 0px)}
}

@keyframes imagem {
    0% {opacity: 0; transform: translate(0px, -20px)}
    100% {opacity: 1; transform: translate(0px, 0px)}
}

@keyframes menu {
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

#circleG{
	width:146px;
	margin:auto;
}

.circleG{
	background-color:rgb(255,255,255);
	float:left;
	height:31px;
	margin-left:17px;
	width:31px;
	animation-name:bounce_circleG;
		-o-animation-name:bounce_circleG;
		-ms-animation-name:bounce_circleG;
		-webkit-animation-name:bounce_circleG;
		-moz-animation-name:bounce_circleG;
	animation-duration:2.24s;
		-o-animation-duration:2.24s;
		-ms-animation-duration:2.24s;
		-webkit-animation-duration:2.24s;
		-moz-animation-duration:2.24s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
	border-radius:20px;
		-o-border-radius:20px;
		-ms-border-radius:20px;
		-webkit-border-radius:20px;
		-moz-border-radius:20px;
}

#circleG_1{
	animation-delay:0.45s;
		-o-animation-delay:0.45s;
		-ms-animation-delay:0.45s;
		-webkit-animation-delay:0.45s;
		-moz-animation-delay:0.45s;
}

#circleG_2{
	animation-delay:1.05s;
		-o-animation-delay:1.05s;
		-ms-animation-delay:1.05s;
		-webkit-animation-delay:1.05s;
		-moz-animation-delay:1.05s;
}

#circleG_3{
	animation-delay:1.35s;
		-o-animation-delay:1.35s;
		-ms-animation-delay:1.35s;
		-webkit-animation-delay:1.35s;
		-moz-animation-delay:1.35s;
}



@keyframes bounce_circleG{
	0%{}

	50%{
		background-color:rgb(56,52,77);
	}

	100%{}
}

@-o-keyframes bounce_circleG{
	0%{}

	50%{
		background-color:rgb(56,52,77);
	}

	100%{}
}

@-ms-keyframes bounce_circleG{
	0%{}

	50%{
		background-color:rgb(56,52,77);
	}

	100%{}
}

@-webkit-keyframes bounce_circleG{
	0%{}

	50%{
		background-color:rgb(56,52,77);
	}

	100%{}
}

@-moz-keyframes bounce_circleG{
	0%{}

	50%{
		background-color:rgb(56,52,77);
	}

	100%{}
}
